{% block body %}

    {# TODO : modifier le titre selon qui ouvre la page (nom proprio / admin) #}
    {# TODO : menu déroulant pour attribuer un propriétaire pour l'administratrice ET intégration directe de l'id client quand il est co #}
    {# TODO : menu déroulant pour la race de cheval #}
    {# TODO: JS pour faire apparaître un form de création si éleveur / véto non connu #}



    {{ form_start(form, {attr: {class: 'card w-50 mx-auto' }}) }}
    {{ form_widget(form) }}
    {# bouton qui s'adapte à la modification ou création de cheval #}
    {# TODO: adaptation du form en fonction de si ADMIN ou USER #}
    {% if app.request.attributes.get('_route') == 'app.client.horses.edit' %}
        <button type="submit" class="btn btn-primary">Modifier la fiche</button>
    {% else %}
        <button type="submit" class="btn btn-primary">Créer la fiche</button>
    {% endif %}
    
{% endblock %}