{% extends 'base.html.twig' %}

{% block title %}Création d'une fiche cheval - Administratrice {{parent()}} {% endblock %}

{% block body %}

    {# TODO : form de création d'une fiche cheval avec un menu déroulant pour attribuer un propriétaire #}
    <h1>Création d'une fiche cheval</h1>

    <p>Bientôt disponible</p>

{% endblock %}