{% extends 'base.html.twig' %}

{% block title %}Création d'une fiche cheval - Administratrice {{parent()}} {% endblock %}

{% block body %}

    <h1>Création d'une fiche cheval</h1>

    {% include 'Form/_horseForm.html.twig' with {ButtonLabel: 'Créer'} %}

{% endblock %}