{% extends 'base.html.twig' %}

{% block title %}Chevaux suivis - Administratrice {{parent()}} {% endblock %}

{% block body %}

{# TODO : cards avec tous les chevaux et barre de recherche #}
    <h1>Chevaux suivis</h1>
    <ul>
        <li><a href=" {{path('admin.horse.create')}} ">Ajouter un cheval</a></li>
        {# <li><a href=" {{path('admin.horse.{id}.edit')}} ">Modifier un cheval</a></li>
        <li><a href=" {{path('admin.horse.{id}.delete')}} ">Supprimer un cheval</a></li> #}
        
    </ul>

{% endblock %}
