header {
    //fixer le header en haut de la page
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 1rem;

    //prendre toute la largeur de la page avec uen limite sur les très grands écrans
    width: 100%;
    max-width: $breakpoint-xl-desktop;

    //couleur du fond et de la police, bordure en bas
    background-color: $tertiary;
    color: $primary;
    border-bottom: 1px solid $secondary;

    //espacement des logos
    .header-logo,
    .login-logo {
        margin: 0 1rem;
    }

    .header-title {
        display: none;
        text-align: center;

        //quand on scroll, le titre apparait
        &.scrolled {
            display: block;
            text-align: center;
            position: absolute;
            top: 5%;

            //pour les tablettes et mobiles, le titre n'est pas affiché
            @media(max-width: $breakpoint-tablet) {
                display: none;
            }
        }
    }

    //gestion du logo
    .header-logo {
        width: max-content;
        margin-right: auto;
        margin-left: auto;
        transition: all 0.5s ease;

        // Responsivité pour la taille du logo
        @media (max-width: $breakpoint-tablet) {
            width: 150px;
        }

        //si on scroll, le logo devient plus petit et se déplace
        &.scrolled {
            width: 150px;
            transform: translateX(-500px);

            //responsivité taille et déplacement du logo en scroll
            @media (max-width: $breakpoint-tablet) {
                //centrer le logo
                transform: translateX(-50%);
            }

            & p {
                display: none;
            }
        }
        //mise en forme du p accompagnant le logo 
        p {
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            color: $quaternary;
        }
    }

    //gestion du logo de connexion
    .login-logo {
        position: absolute;
        right: 5%;
        top: 2%;
        font-size: 2rem;
    }

    //disposer les éléments du menu desktop en ligne
    .nav-desktop {

        //pour les tablettes et mobiles, le menu est caché
        @media(max-width: $breakpoint-tablet) {
            display: none;
        }

        // margin-top: 1rem;
        background-color: $primary;
        color: $tertiary;
        padding: 0;
        height: 3rem;
        overflow: hidden;
        width: 100%;

        //et les liens en ligne
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            padding: 0;
            margin: 0;
            height: 100%;

            li {
                flex: 1;
                display: flex;
                margin-right: 1rem;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.3s ease;

                //supprimer l'espace à droite du dernier élément
                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    background-color: $secondary;
                    text-decoration: none;
                }

                a {
                    color: $tertiary;
                    text-decoration: none;
                    font-weight: bold;
                    display: block;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        color: $tertiary;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .nav-menu {
        display: none;
        position: absolute;
        left: 5%;
        top: 3%;

        .burger-menu {
            cursor: pointer;
        }

        @media (max-width: $breakpoint-tablet) {
            display: block !important;
        }

        span {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px;
            background-color: $primary;
        }

        &-content {
            display: none; // Masquer par défaut
            background-color: $primary;
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        
            a {
                color: $tertiary;
                text-decoration: none;
            }

            &.active {
                display: block !important; // Affiche quand la classe active est ajoutée
            }
        }
    }
}