{% extends 'base.html.twig' %}

{% block title %}Page d'administratrice {{parent()}} {% endblock %}

{% block body %}

    <ul>
        <li>Modifier la page de présentation</li>
        <li>Modifier les services</li>
        <li>Accès aux utilisateurs</li>
        <li><a href=" {{path('admin.horse.show')}} ">Fiches cheval</a></li>
        <li>Statistiques</li>  
    </ul>

{% endblock %}
