<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} | Lucile Monti - cavalière enseignante indépendante{% endblock %}</title>
        
        
    </head>
    <body>
        {% include 'Frontend/Layout/_header.html.twig' %}
		<main>
			{% include 'Frontend/Layout/_flash.html.twig' %}
			{% block body %}{% endblock %}
		</main>
        
    </body>
</html>
