<footer>
    <div class="footer">
        <div class="footer-column">
            <h3>Navigation du site</h3>
            <ul>
                <li><a href="#">Présentation</a></li>
                <li><a href="#">Services et prestations</a></li>
                <li><a href="#">Galerie photos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Contact</h3>
            <p>Lucile MONTI</p>
            <p>Téléphone: 123-456-7890</p>
            <p><a href="mailto:info@example.com">Email: info@example.com</a></p>
        </div>

        <div class="footer-column">
            <h3>Mentions légales</h3>
            <ul>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>

            <div class="footer-column-socials">
                <h3>Réseaux sociaux</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>