<header style="background-image: url('path/to/background-image.jpg');">
    <a href="/">
        <img src="path/to/main-logo.png" alt="Main Logo">
    </a>
    <nav>
        <ul>
            <li><a href="#">Présentation</a></li>
            <li><a href="#">Services et prestations</a></li>
            <li><a href="#">Galerie photo</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="login-logo">
        <img src="path/to/login-logo.png" alt="Login Logo">
    </div>
</header>